<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Address Update Request</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
        * {
            font-family: "Poppins", sans-serif;
        }
        body {
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        h1 {
            text-align: center;
            color: #3d6ef5ff;
        }
        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            position: relative;
        }
        input, select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: #333;
        }
        .button-container {
            display: flex;
            padding-top: 20px;
            justify-content: space-between;
            width: 100%;
        }
        button[type="submit"],
        button[type="button"] {
            width: 45%;
            background-color: #3d6ef5ff;
            color: #f2f2f2;
            font-weight: bold;
            padding: 8px 14px;
            border: none;
            font-size: 12px;
            border-radius: 5px;
            border: 2px solid #3d6ef5ff;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        button[type="submit"]:hover,
        button[type="button"]:hover {
            background-color: #f2f2f2;
            color: #3d6ef5ff;
        }
    </style>
</head>
<body>
    <form id="emailForm" action="/v1/api/sendAddressUpdateReq" method="post">
        <h1>Address Update Request</h1>

        <label for="selectOption">Select Option:</label>
        <select id="selectOption" name="selectOption" onchange="showInputs()">
            <option value="">Select</option>
            <option value="toStudent">To Student</option>
            <option value="toYear">To Year</option>
        </select>

        <label for="studentId" id="studentIdLabel" style="display: none;">Student ID:</label>
        <input type="text" id="studentId" name="studentId" style="display: none;">

        <label for="year" id="yearLabel" style="display: none;">Select Year:</label>
        <select id="year" name="year" style="display: none;">
            <option value="">Select</option>
            <option value="I">MCA-I</option>
            <option value="II">MCA-II</option>
        </select>

        <div class="button-container">
            <button type="button" onclick="window.location.href='/v1/api/dashboard#students'">Back</button>
            <button type="submit" id="update">Send</button>
        </div>
    </form>

    <script>
        function showInputs() {
            var selectedOption = document.getElementById("selectOption").value;
            var studentIdLabel = document.getElementById("studentIdLabel");
            var studentIdInput = document.getElementById("studentId");
            var yearLabel = document.getElementById("yearLabel");
            var yearSelect = document.getElementById("year");

            if (selectedOption === "toStudent") {
                studentIdLabel.style.display = "block";
                studentIdInput.style.display = "block";
                yearLabel.style.display = "none";
                yearSelect.style.display = "none";
            } else if (selectedOption === "toYear") {
                studentIdLabel.style.display = "none";
                studentIdInput.style.display = "none";
                yearLabel.style.display = "block";
                yearSelect.style.display = "block";
            } else {
                studentIdLabel.style.display = "none";
                studentIdInput.style.display = "none";
                yearLabel.style.display = "none";
                yearSelect.style.display = "none";
            }
        }

        document.getElementById("studentId").addEventListener("input", function() {
            this.value = this.value.toUpperCase().replace(/[^A-Z0-9]/g, '');
        });
    </script>
</body>
</html>
