<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Move Students</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
      * {
      font-family: "Poppins", sans-serif;
    }
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        h1 {
            text-align: center;
            color: #3d6ef5ff;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            position: relative;
        }
        input, select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: #333;
        }

        .button-container {
            display: flex;
            padding-top: 20px;
            justify-content: space-between;
            width: 100%;
        }

        button[type="submit"],
        button[type="button"] {
            width: 45%;
            background-color: #3d6ef5ff;
            color: #f2f2f2;
            font-weight: bold;
            padding: 8px 14px;
            border: none;
            font-size: 12px;
            border-radius: 5px;
            border: 2px solid #3d6ef5ff;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button[type="submit"]:hover,
        button[type="button"]:hover {
            background-color: #f2f2f2;
            color: #3d6ef5ff;
            font-weight: bold;
        }
        
    </style>
</head>
<body>
    <form id="emailForm" action="/ssm/mca/moveStudents" method="post">
        <h1>Move Students</h1>

        <label for="title">Move From :</label>
        <select id="year" name="year" required onchange="showYearInput()">
            <option value="">Select</option>
            <option value="I">MCA-I</option>
            <option value="II">MCA-II</option>
        </select>

        <label for="title">Move To :</label>
        <select id="type" name="type" required onchange="showYearInput()">
            <option value="">Select</option>
            <option value="I">MCA-I</option>
            <option value="II">MCA-II</option>
            <option value="alumni">Alumni</option>
        </select>

        <label for="graduationYear" id="graduationYearLabel" style="display: none;">Graduation Year :</label>
        <input type="text" id="graduationYear" name="graduationYear" style="display: none;">

        <div class="button-container">
            <button type="button" onclick="window.location.href='/ssm/mca/dashboard#students'">Back</button>
            <button type="submit" id="update">Update</button>
        </div>
    </form>

    <script>
        function showYearInput() {
            var yearSelect = document.getElementById("year");
            var typeSelect = document.getElementById("type");
            var alumniOption = typeSelect.options[3];
            var graduationYearLabel = document.getElementById("graduationYearLabel");
            var graduationYearInput = document.getElementById("graduationYear");

            if (yearSelect.value === typeSelect.value) {
                alert("Move From & Move To Cannot Be The Same.");
                typeSelect.value = "";
            }
            if (yearSelect.value === "II" && typeSelect.value === "I") {
                alert("Sorry, You Cannot Move students from MCA-II to MCA-I.");
                typeSelect.value = "";
            }

            if (yearSelect.value === "I") {
                alumniOption.style.display = "none";
                if (typeSelect.value === "alumni") {
                    typeSelect.value = ""; 
                }
                graduationYearLabel.style.display = "none"; 
                graduationYearInput.style.display = "none"; 
            } else {
                alumniOption.style.display = "block";
                if (typeSelect.value === "alumni") {
                    graduationYearLabel.style.display = "block"; 
                    graduationYearInput.style.display = "block"; 
                } else {
                    graduationYearLabel.style.display = "none"; 
                    graduationYearInput.style.display = "none"; 
                }
            }
        }
        document.getElementById("graduationYear").addEventListener("input", function() {
        this.value = this.value.replace(/\D/g, '');
        if (this.value.length > 4) {
            this.value = this.value.slice(0, 4);
        }
        });
        document.getElementById("graduationYear").addEventListener("input", function() {
        this.value = this.value.replace(/\D/g, '');
        });
    </script>
</body>
</html>
